<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        a:link, a:visited {
          background-color: #12aaaa;
          color: white;
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }

        a:hover, a:active {
          background-color: #217e7e;
        }
    </style>
</head>
<body>
    <a href="login.html" target="_blank">TEACHER</a>
    <a href="login.html" target="_blank">STUDENT</a>
</body>
</html>